<!-- INCLUDE overall_header.html -->

<h2>About Us</h2>

<div class="panel">
    <div class="inner"><span class="corners-top"><span></span></span>

        <div class="content">
            <p>
                We were founded this year to bring you the best forum on the Internet!

                We promise to do the following:
            <ul>
                <li>Provide new content</li>
                <li>provide a friendly atmosphere</li>
                <li>Provide an environment where you can have fun!</li>
            </ul>
            </p>
        </div>

        <div class="pure-g">
            <div class="pure-u-1-3"><p>
                <form class="pure-form">
                    <fieldset>
                        <legend>A compact inline form</legend>

                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">

                        <label for="remember">
                            <input id="remember" type="checkbox"> Remember me
                        </label>

                        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                    </fieldset>
                </form>
            </p></div>
            <div class="pure-u-1-3"><p>
                <form class="pure-form">
                    <fieldset>
                        <legend>A compact inline form</legend>

                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">

                        <label for="remember">
                            <input id="remember" type="checkbox"> Remember me
                        </label>

                        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                    </fieldset>
                </form>
            </p></div>
            <div class="pure-u-1-3"><p>
                <form class="pure-form">
                    <fieldset>
                        <legend>A compact inline form</legend>

                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">

                        <label for="remember">
                            <input id="remember" type="checkbox"> Remember me
                        </label>

                        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                    </fieldset>
                </form>
            </p></div>
        </div>



        <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->