			</div>
		<!-- EVENT overall_footer_content_after -->
		
		<!-- EVENT overall_footer_page_body_after -->
			
		<div id="page-footer" class="container">
			<div class="row">
				<!-- IF U_MCP or U_ACP -->
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="btn-group">
							<!-- IF U_MCP -->
								<a class="btn btn-primary" href="{U_MCP}">{L_MCP}</a>
							<!-- ENDIF -->
							<!-- IF U_ACP -->
								<a class="btn btn-primary" href="{U_ACP}">{L_ACP}</a>
							<!-- ENDIF -->
						</div>
					</div>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
					<div class="col-md-2 pull-right">
						<div class="btn-group dropup pull-right">
							<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" style=" display: block; ">
							<i class="fa fa-wrench"></i>
							<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<!-- IF S_DISPLAY_SEARCH -->
									<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
								<!-- IF S_LOAD_UNREADS -->
									<li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li>
								<!-- ENDIF -->
								<!-- IF S_USER_LOGGED_IN -->
									<li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
								<!-- ENDIF -->
									<li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
								<!-- ENDIF -->
								<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
									<li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li>
								<!-- ENDIF -->
								<!-- IF S_HAS_SUBFORUM -->
									<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
										<li><a href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a></li>
									<!-- ENDIF -->
								<!-- ENDIF -->
							</ul>
						</div>
						<br />
					</div>
				<!-- ENDIF -->
			</div>
			<div class="copyright text-center">
				<!-- EVENT overall_footer_copyright_prepend -->
				{CREDIT_LINE}
				<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
				<!-- EVENT overall_footer_copyright_append -->
				<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
			</div>
			<div id="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
				<div id="darken">&nbsp;</div>
			</div>

			<div id="phpbb_alert" class="phpbb_alert alert alert-info" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
				<a href="#" class="alert_close"></a>
				<strong class="alert_title">&nbsp;</strong><p class="alert_text"></p>
			</div>
			<div id="phpbb_confirm" class="phpbb_alert">
				<a href="#" class="alert_close"></a>
				<div class="alert_text"></div>
			</div>
			<!-- INCLUDE navbar_footer.html -->
			<a id="bottom" class="anchor" accesskey="z"></a>
			<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
		</div>
	</div>
	<script type="text/javascript" src="{T_JQUERY_LINK}"></script>
	<!-- IF S_ALLOW_CDN --><script type="text/javascript">window.jQuery || document.write(unescape('%3Cscript src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}" type="text/javascript"%3E%3C/script%3E'));</script><!-- ENDIF -->
	<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
	<!-- INCLUDEJS forum_fn.js -->
	<!-- INCLUDEJS ajax.js -->
	<!-- IF U_MCP or U_ACP -->
		<!-- INCLUDEJS ../theme/comboot/notification.js -->
	<!-- ENDIF -->

	<!-- EVENT overall_footer_after -->

	<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
	{$SCRIPTS}

	<!-- EVENT overall_footer_body_after -->
</body>
</html>