<nav>
	<ul class="pagination no-margin">
		<!-- BEGIN pagination -->
			<!-- IF pagination.S_IS_PREV -->
				<li class="previous"><a href="{pagination.PAGE_URL}" aria-label="Previous" rel="prev" role="button"><i class="fa fa-chevron-left"></i> {L_PREVIOUS}</a></li>
			<!-- ELSEIF pagination.S_IS_CURRENT -->
				<li class="active"><a href="#">{pagination.PAGE_NUMBER}</a></li>
			<!-- ELSEIF pagination.S_IS_ELLIPSIS -->
				<li class="ellipsis" role="separator"><a href="#">{L_ELLIPSIS}</a></li>
			<!-- ELSEIF pagination.S_IS_NEXT -->
				<li class="next"><a href="{pagination.PAGE_URL}" aria-label="Next" rel="next" role="button">{L_NEXT} <i class="fa fa-chevron-right"></i></a></li>
			<!-- ELSE -->
				<li><a href="{pagination.PAGE_URL}" role="button">{pagination.PAGE_NUMBER}</a></li>
			<!-- ENDIF -->
		<!-- END pagination -->
	</ul>
</nav>