<style>
    .chunk, .chunk-main {
        max-width: {ANAMI_WIDTH};
    }

	body,
	.dropdown-extended .header,
	.notification_list p.notifications_title,
	li.header dt,
	li.header dd,
	.postbody h3,
	.content,
	.content p,
	dl.faq,
	p.author,
	.notice,
	dl.file,
	dl.file dt,
	dl.thumbnail dd,
	fieldset.polls,
	fieldset.polls dd div,
	a.forumtitle,
	a.topictitle,
	fieldset,
	input,
	select,
	select optgroup option,
	textarea,
	#message-box textarea,
	a.button1,
	input.button1,
	input.button3,
	a.button2,
	input.button2,
	.button {
		font-family: {ANAMI_FONT}, Arial, Helvetica, sans-serif;
	}

	a.arrow-left:hover,
	a.arrow-right:hover,
	dl.thumbnail dt a:hover img {
		color: {ANAMI_CL_H};
	}

	.buttons .button {
		background-color: {ANAMI_CB};
		border-color: {ANAMI_CB};
	}

	.buttons .button:hover {
		background-color: {ANAMI_CM};
		border-color: {ANAMI_CM};
	}

	#site-header,
	#site-footer-nav,
	#site-footer {
		background-color: {ANAMI_CM};
	}

	.forabg .header,
	.forumbg .header {
		background-color: {ANAMI_CT};
	}

	.postbody h3,
	.postbody h3 a,
	a.forumtitle,
	a.topictitle,
	a.lastsubject {
		color: {ANAMI_CL};
	}
</style>

<!-- IF ANAMI_LAYOUT eq 1 -->
<style>
	body {
	background-color: #282B31;
	}

	#overall-wrap {
	margin: 20px auto;
	background-color: #FAFAFA;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	max-width: 1200px;
	}

	#site-header {
	border-radius: 3px 3px 0 0;
	}

	#site-footer {
	border-radius: 0 0 3px 3px;
	}

	#wrap, .inner {
	max-width: 1200px;
	}

	.chunk, .chunk-main {
	padding: 0 40px;
	}
</style>
<!-- ELSEIF ANAMI_LAYOUT eq 2 -->
<style>
	body {
	background-color: #F0F0F0;
	}

	#overall-wrap {
	margin: 20px auto;
	background-color: #FAFAFA;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	max-width: 1200px;
	}

	#site-header {
	border-radius: 3px 3px 0 0;
	}

	#site-footer {
	border-radius: 0 0 3px 3px;
	}

	#wrap, .inner {
	max-width: 1200px;
	}

	.chunk, .chunk-main {
	padding: 0 40px;
	}
</style>
<!-- ENDIF -->

<!-- IF ANAMI_HEADER -->
<style>
	#site-header, #site-logo {
		line-height: 50px;
		min-height: 50px;
	}

	#site-menu > li > a {
		line-height: 50px;
	}

	#site-menu .dropdown {
		top: 45px;
	}
</style>
<!-- ENDIF -->
