<!-- INCLUDECSS ../theme/comboot/bootstrap.min.css -->
<!-- INCLUDECSS ../theme/comboot/font-awesome.min.css -->
<!-- INCLUDECSS ../theme/comboot/colorpicker.min.css -->
<!-- INCLUDECSS ../theme/comboot/lightbox.css -->
<!-- INCLUDECSS ../theme/comboot/select.min.css -->
<!-- INCLUDECSS ../theme/comboot/highlight.min.css -->
<!-- IF $THEME_FILE == 1 -->
	<!-- INCLUDECSS ../theme/comboot/bootstrap-theme.min.css -->
<!-- ENDIF -->

<!-- INCLUDEJS ../theme/comboot/progressbar.min.js -->
<!-- INCLUDEJS ../theme/comboot/bootstrap.min.js -->
<!-- INCLUDEJS ../theme/comboot/autosize.min.js -->
<!-- INCLUDEJS ../theme/comboot/jquery.cookie.js -->
<!-- INCLUDEJS ../theme/comboot/bootbox.min.js -->
<!-- INCLUDEJS ../theme/comboot/colorpicker.min.js -->
<!-- INCLUDEJS ../theme/comboot/lightbox.min.js -->
<!-- INCLUDEJS ../theme/comboot/select.min.js -->
<!-- INCLUDEJS ../theme/comboot/highlight.min.js -->
<!-- INCLUDEJS ../theme/comboot/comboot.js -->